body {
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(./img/header-img.jpg);
    background-size: cover;
    background-position: 50%;
    height: 90vh;
}

/* navbar */

nav img {
    width: 13%;
}

.red-btn {
    background: rgb(229, 9, 20);
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    padding: 5px 17px;
}

.red-btn:hover {
    background: rgb(193, 17, 25);
}

/* hero section */

.hero-title {
    font-size: 3rem;
    font-weight: 900;
}

.hero-first-p {
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-second-p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
}

form {
    width: 60%;
}

form #floatingInput {
    color: #fff;
}

form .form-control:focus {
    border-color: #fff;
    box-shadow: none;
    border-width: medium;
}

form .form-floating>.form-control:focus~label {
    color: rgba(255, 255, 255, 0.7);
}

form .form-floating>.form-control:focus~label::after {
    background-color: transparent;
}

form .form-floating {
    width: 50%;
}

form #floatingInput {
    background: transparent;
}

form label {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
}

.get-started-btn {
    height: 60px;
    font-size: 1.5rem;
    padding-right: 25px;
    padding-left: 25px;
}

.get-started-btn::after {
    content: "\276F";
    margin-left: 5px;
}